/* Branding colors */

/* 
Light green: 7ed567
Medium green: 55c57a
Dark green: 28b485
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color:white;
    color: black;
    padding: 30px;
}

.header{    
    height: 95vh;
    background-image:linear-gradient(to right,#7ed5618c,#28b485a4) ,url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
    position:relative;
}

.logobox{
    position: absolute;
    top:40px;
    left:40px;
}

.logo{
    height: 35px;;
}

.heading-primary{
    color:#fff;
    text-transform: uppercase;
}

.heading-primary-main, .heading-primary-sub{
    display: block;
    font-weight: 400;
}
.heading-primary-main{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;

    /* animation properties */
    animation-name: moveInLeft;
    animation-duration: 1s;
}

.heading-primary-sub{
    font-size: 20px;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 1s;
    margin-bottom: 60px;
}

.text-box{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* 
There are generally two types of animations in CSS.

The first one, which also happens to be the easiest one, will be using the transition property.

*/

@keyframes moveInLeft{
    0%{
        opacity: 0; /* invisible*/
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0; /* invisible*/
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity:1;
        transform: translateX(0);
    }

}

.logobox:hover{
    animation: moveInRight 2s ease-in;
}

.btn:link, .btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all .2s;
}

.btn:hover{
    transform: translateY(-3px);
}

.btn:active{
    transform: translateY(-1px);
}

.btn-white{
    background-color: white;
    color:#777;
}